.filter {
    position: fixed;
    top: 68px;
    left: 0;
    width: 100%;
    padding: 13px 0;
    z-index: 1;
    background: rgba(255, 255, 255, .95)
}

@media (min-width:900px) {
    .filter {
        top: 82px;
        padding: 36px 0
    }
}

.filter-wrapper {
    position: relative;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.dropdown {
    margin-right: 70px
}

@media (min-width:650px) {
    .dropdown {
        position: relative
    }
}

.dropdown-button {
    font-size: 16px;
    line-height: 22px;
    background: 0 0;
    border: 0;
    padding: 0;
    margin: 0
}

.dropdown-button-label {
    display: inline-block;
    border-bottom: 1px solid
}

.dropdown-button[aria-expanded=true] .dropdown-button-icon {
    -webkit-transform: scaleY(-1);
    -ms-transform: scaleY(-1);
    transform: scaleY(-1)
}

.dropdown-options {
    position: absolute;
    top: 45px;
    left: 50%;
    width: 100vw;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    padding: 16px 32px;
    background: #F3F3F3;
    font-size: 20px;
    line-height: 26px
}

@media (min-width:650px) {
    .dropdown-options {
        padding: 25px 36px;
        left: 0;
        width: auto;
        min-width: 260px;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none
    }
}

.dropdown-options-item {
    position: relative;
    display: inline-block;
    margin: 7px 0;
    white-space: nowrap;
    border-bottom: 1px solid transparent;
    color: #6b6a6b !important;
    transition: all .15s ease-out
}

.dropdown-options-item.selected {
    color: #000 !important
}

.dropdown-options-item.selected:before {
    content: '';
    position: absolute;
    top: 50%;
    left: -32px;
    width: 15px;
    height: 1px;
    background: currentColor
}

@media (min-width:650px) {
    .dropdown-options-item.selected:before {
        left: -25px
    }
}

.dropdown-options-item:hover:not(.selected) {
    color: #000 !important;
    border-bottom-color: currentColor
}

@media (min-width:650px) {
    .dropdown-options-item {
        margin: 6px 0
    }
}