@font-face {
  font-family: 'source-serif';
  font-style: normal;
  font-weight: normal;
  src: url("/assets/fonts/SourceSerifPro-Regular.otf.woff") format('woff');
}

@font-face {
  font-family: 'source-serif';
  font-style: italic;
  font-weight: normal;
  src: url("/assets/fonts/SourceSerifPro-It.otf.woff") format('woff');
}

@font-face {
  font-family: 'source-serif';
  font-style: normal;
  font-weight: bold;
  src: url("/assets/fonts/SourceSerifPro-Bold.otf.woff") format('woff');
}

@font-face {
  font-family: 'source-sans';
  font-style: normal;
  font-weight: normal;
  src: url("/assets/fonts/SourceSansPro-Regular.otf.woff") format('woff');
}

@font-face {
  font-family: 'source-sans';
  font-style: italic;
  font-weight: normal;
  src: url("/assets/fonts/SourceSansPro-It.otf.woff") format('woff');
}

@font-face {
  font-family: 'source-sans';
  font-style: normal;
  font-weight: 600;
  src: url("/assets/fonts/SourceSansPro-Semibold.otf.woff") format('woff');
}

@font-face {
  font-family: 'source-sans';
  font-style: normal;
  font-weight: bolder;
  src: url("/assets/fonts/SourceSansPro-Bold.otf.woff") format('woff');
}

@font-face {
  font-family: 'source-sans';
  font-style: normal;
  font-weight: lighter;
  src: url("/assets/fonts/SourceSansPro-Light.otf.woff") format('woff');
}