---
title: Analysis
layout: default
permalink: workflow/analysis.html
---

<h1 class="post-title">{{ page.title }}</h1><br>

<p style="font-size: 24px">This website uses a four-state workflow to drive the development of content. The documents listed on this page need research into the form and content of the original hymn.</p><br>

<h2>Analysis <span class="label label-blue">Blue</span></h2>

<ul class="navigation-list">
	{% assign pages_list = site.html_pages | sort:"title" | where: "workflow","analysis" %}
	{% for node in pages_list  %}
	<li class="navigation-list-item">
		<a href="{{ node.url | absolute_url }}" class="navigation-list-link{% if page.url == node.url %} active{% endif %}">{{ node.title }}</a>
	</li>
	{% endfor %}
</ul>