<header>
	<h1><a href="{{ site.baseurl }}/">The Gerhardt Hymnal</a>
		
		<button type="button" class="open-nav" id="open-nav"></button>
	</h1>

	<form action="/search/" method="get">
		<input type="text" name="q" id="search-input" placeholder="Search">
		<input type="submit" value="Search" style="display: none;">
	</form>

	<nav>
		<ul>
			<h3>christmas</h3>
				<li class="nav-item top-level {% if page.url contains '/hymns/003' %}current{% endif %}">
				<a href="/hymns/003/">3 &emsp; Wir singen dir, Immanuel</a>
				</li>
					<ul>
						<li class="nav-item {% if page.url contains '/hymns/003' %}current{% else %}hide{% endif %}">
						<a href="/hymns/003/">Text and Translations</a>
						<a href="/hymns/003/hewitt/">Hewitt Reference</a>
						</li>
			<h3>new year</h3>
				<li class="nav-item top-level {% if page.url contains '/hymns/010' %}current{% endif %}">
				<a href="/hymns/010/">10 &emsp; Nun laßt uns gehn und treten</a>
				</li>
					<ul>
						<li class="nav-item {% if page.url contains '/hymns/010' %}current{% else %}hide{% endif %}">
						<a href="/hymns/010/">Text and Translations</a>
						<a href="/hymns/010/tunes/">Tunes and Settings</a>
						<a href="/hymns/010/analysis/">Analysis</a>
						</li>
					</ul>
			<br>
			<h3>indexes</h3>
				<li class="nav-item top-level {% if page.url contains '/indexes/firstlines' %}current{% endif %}">
				<a href="/indexes/firstlines/">First Lines and Titles</a>
				</li>
				<li class="nav-item top-level {% if page.url contains '/indexes/tunes' %}current{% endif %}">
				<a href="/indexes/tunes/">Hymn Tunes</a>
				</li>
				<li class="nav-item top-level {% if page.url contains '/indexes/meters' %}current{% endif %}">
				<a href="/indexes/meters/">Hymn Meters</a>
				</li>
				<li class="nav-item top-level {% if page.url contains '/indexes/authors' %}current{% endif %}">
				<a href="/indexes/authors/">Authors</a>
				</li>
				<li class="nav-item top-level {% if page.url contains '/indexes/sources' %}current{% endif %}">
				<a href="/indexes/sources/">Sources</a>
				</li>
			<br>
			<h3>appendix</h3>
				<li class="nav-item top-level {% if page.url contains '/appendix/sources' %}current{% endif %}">
				<a href="/appendix/sources/">Primary Sources</a>
				</li>
				<li class="nav-item top-level {% if page.url contains '/appendix/bibliography' %}current{% endif %}">
				<a href="/appendix/bibliography/">Bibliography</a>
				</li>
				<li class="nav-item top-level {% if page.url contains '/appendix/will' %}current{% endif %}">
				<a href="/appendix/will/">Gerhardt's Last Will and Testament</a>
				</li>
			<br>
			<h3>information</h3>
				<li class="nav-item top-level {% if page.url contains '/info/about' %}current{% endif %}">
				<a href="/info/about/">About This Book</a>
				</li>
				<li class="nav-item top-level {% if page.url contains '/info/german' %}current{% endif %}">
				<a href="/info/german/">Gerhardt's German</a>
				</li>
				<li class="nav-item top-level {% if page.url contains '/info/colophon' %}current{% endif %}">
				<a href="/info/colophon/">Colophon</a>
				</li>
				<li class="nav-item top-level {% if page.url contains '/info/aboutme' %}current{% endif %}">
				<a href="/info/aboutme/">About Ian Welch</a>
				</li>
				<li class="nav-item top-level {% if page.url contains '/info/contact' %}current{% endif %}">
				<a href="/info/contact/">Contact</a>
				</li>
				
				
		</ul>
		<br>
		<ul>
			<li class="nav-item top-level {% if url contains '/updates' %}current{% endif %}">
				<a href="/updates">News and Updates</a>
			</li>
		</ul>
		<br>
		<br>
	</nav>
</header>
