html,
body {
	padding: 0;
	margin: 0;
	min-height: 100%;
}

body {
	position: relative;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	color: $brand-color;
	text-decoration: none;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: #EFEFEF 1px solid;
	margin: 2em 0;
	padding: 0;
}


table {
  font-family: "ff-meta-serif-web-pro", serif;
  width: 100%;
  margin-bottom: 1em;
}

tr {
  border-bottom: 0px solid #fff;
}

tr:nth-child(even) {
  background: #fff;
}

td, th {
  padding-right: 0px;
  text-align: left;
}

td {
  padding-top: 10px;
  vertical-align: top;
}

th {
  padding-bottom: 10px;
  font-family: "ff-meta-web-pro", sans-serif;
  text-transform: lowercase;
  font-variant: small-caps;
  border-bottom: 1px solid #999;
}


.block-info {
  background-color: #efefef;
  padding:15px;
  width:95%;
  line-height: 1.2rem;
  font-feature-settings: 'onum';

  b { 
    font-family: "ff-meta-web-pro", sans-serif;
    font-variant: small-caps;
  
  }
}

.button {
  background-color: $brand-color;
    border: none;
    color: #fff;
    padding: 10px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
a{
  color:#fff;
  font-weight:bold;
  font-size:20px;
}

}

.footnotes {
	border-top: solid 1px #EFEFEF;
	padding-top: 10px;

	li {
		font-size: 0.8rem;
	}
	
	p {
	font-size: 0.8rem;
	line-height: 1rem;
	margin: 0 0 0rem 0
	}
}

sup {
  font-feature-settings: 'onum';
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}

.styled-select-1 {
  float: left;
    clear:left; 
  margin:0; 
  width:100%;

  @media (min-width: 700px) {
  clear:both;
    display:inline; 
    width:45%
  } 
}

.styled-select-2 {
  overflow: auto;
    clear:both;
    float:right; 
  margin:0; 
  width:100%;
  
  @media (min-width: 700px) {
  clear:right;
    display:inline;
    width:50%
  }
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 40px;
  width: 300px;
  border-radius: 0;
  border: 0px;
  padding-left: 10px;
  font-family: 'ff-meta-web-pro', sans-serif;
  font-size: 18px;
  background-color: #e6e6e6;
  margin-bottom: 30px;
}