---
title: Warum willst du draußen stehen
section: Text Comparison
layout: page
---
   
    <body>
      <div class="styled-select-1">
        <select id="target1">
            <option value="gerhardt">Paul Gerhardt, 1653</option>
        <select>
       	<div id="gerhardt">
            {% capture hymn %}{% include /hymns/002/gerhardt.md %}{% endcapture %}
            {{ hymn | markdownify }}            
        </div>
      </div>
    </body>

    <style>
.inv {
    display: none;
}
    </style>

    <body>
      <div class="styled-select-2">
        <select id="target">
            <option value="">Select Translation…</option>
            <option value="content_1">Catherine Winkworth, 1858</option>
            <option value="content_2">Catherine Winkworth, 1863</option>
            <option value="content_3">Richard Massie, 1864</option>
            <option value="content_4">John Kelly, 1867</option>
        <select>

       	<div id="content_1" class="inv">
            {% capture hymn %}{% include /hymns/002/winkworth-1.md %}{% endcapture %}
            {{ hymn | markdownify }}
        </div>

        <div id="content_2" class="inv">
            {% capture hymn %}{% include /hymns/002/winkworth-2.md %}{% endcapture %}
            {{ hymn | markdownify }}
        </div>

        <div id="content_3" class="inv">
            {% capture hymn %}{% include /hymns/002/massie.md %}{% endcapture %}
            {{ hymn | markdownify }}
        </div>

        <div id="content_4" class="inv">
            {% capture hymn %}{% include /hymns/002/kelly.md %}{% endcapture %}
            {{ hymn | markdownify }}
        </div>


      </div>

        <script>
            document
                .getElementById('target')
                .addEventListener('change', function () {
                    'use strict';
                    var vis = document.querySelector('.vis'),   
                        target = document.getElementById(this.value);
                    if (vis !== null) {
                        vis.className = 'inv';
                    }
                    if (target !== null ) {
                        target.className = 'vis';
                    }
            });
        </script>
    </body>

