---
title: Authors
layout: index
---

{% assign pages = site.pages | sort: 'author' %}

<h5>a</h5>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.author == "a" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h6>
  {% endif %}
{% endfor %}

<h5>b</h5>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.author == "b" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h6>
  {% endif %}
{% endfor %}

<h5>c</h5>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.author == "c" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h6>
  {% endif %}
{% endfor %}

<h5>d</h5>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.author == "d" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h6>
  {% endif %}
{% endfor %}

<h5>e</h5>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.author == "e" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h6>
  {% endif %}
{% endfor %}

<h5>f</h5>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.author == "f" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h6>
  {% endif %}
{% endfor %}

<h5>g</h5>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.author == "g" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h6>
  {% endif %}
{% endfor %}

<h5>h</h5>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.author == "h" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h6>
  {% endif %}
{% endfor %}

<h5>i</h5>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.author == "i" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h6>
  {% endif %}
{% endfor %}

<h5>j</h5>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.author == "j" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h6>
  {% endif %}
{% endfor %}

<h5>k</h5>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.author == "k" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h6>
  {% endif %}
{% endfor %}

<h5>l</h5>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.author == "l" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h6>
  {% endif %}
{% endfor %}

<h5>m</h5>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.author == "m" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h6>
  {% endif %}
{% endfor %}

<h5>n</h5>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.author == "n" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h6>
  {% endif %}
{% endfor %}

<h5>o</h5>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.author == "o" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h6>
  {% endif %}
{% endfor %}

<h5>p</h5>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.author == "p" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h6>
  {% endif %}
{% endfor %}

<h5>q</h5>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.author == "q" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h6>
  {% endif %}
{% endfor %}

<h5>r</h5>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.author == "r" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h6>
  {% endif %}
{% endfor %}

<h5>s</h5>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.author == "s" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h6>
  {% endif %}
{% endfor %}

<h5>t</h5>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.author == "t" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h6>
  {% endif %}
{% endfor %}

<h5>u</h5>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.author == "u" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h6>
  {% endif %}
{% endfor %}

<h5>v</h5>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.author == "v" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h6>
  {% endif %}
{% endfor %}

<h5>w</h5>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.author == "w" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h6>
  {% endif %}
{% endfor %}

<h5>x</h5>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.author == "x" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h6>
  {% endif %}
{% endfor %}

<h5>y</h5>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.author == "y" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h6>
  {% endif %}
{% endfor %}

<h5>z</h5>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.author == "z" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h6>
  {% endif %}
{% endfor %}





