---
title: Authors and Composers
section: Indexes
order: 3
layout: page-half
---
<div class="index-list">
{% assign sortedPages = site.pages | sort: 'title' %}
{% assign sortedIndex = sortedPages | where: 'section','Authors and Composers' %}
{% assign sort_by_title = sortedIndex | group_by_exp: "item", "item.title | slice: 0, 1" %}

{% for letter in sort_by_title %}
  <h3>{{ letter.name }}</h3>
    {% for item in letter.items %}
      <p><a href="{{ item.url }}">{{item.title}}</a></p>
    {%endfor%}
{% endfor %}
</div>