---
title: Authors
layout: index
---

{% assign pages = site.pages | sort: 'author' %}

<h3>a</h3>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.author == "a" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h6>
  {% endif %}
{% endfor %}

<h3>b</h3>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.author == "b" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h6>
  {% endif %}
{% endfor %}

<h3>c</h3>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.author == "c" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h6>
  {% endif %}
{% endfor %}

<h3>d</h3>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.author == "d" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h6>
  {% endif %}
{% endfor %}

<h3>e</h3>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.author == "e" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h6>
  {% endif %}
{% endfor %}

<h3>f</h3>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.author == "f" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h6>
  {% endif %}
{% endfor %}

<h3>g</h3>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.author == "g" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h6>
  {% endif %}
{% endfor %}

<h3>h</h3>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.author == "h" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h6>
  {% endif %}
{% endfor %}

<h3>i</h3>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.author == "i" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h6>
  {% endif %}
{% endfor %}

<h3>j</h3>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.author == "j" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h6>
  {% endif %}
{% endfor %}

<h3>k</h3>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.author == "k" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h6>
  {% endif %}
{% endfor %}

<h3>l</h3>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.author == "l" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h6>
  {% endif %}
{% endfor %}

<h3>m</h3>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.author == "m" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h6>
  {% endif %}
{% endfor %}

<h3>n</h3>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.author == "n" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h6>
  {% endif %}
{% endfor %}

<h3>o</h3>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.author == "o" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h6>
  {% endif %}
{% endfor %}

<h3>p</h3>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.author == "p" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h6>
  {% endif %}
{% endfor %}

<h3>q</h3>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.author == "q" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h6>
  {% endif %}
{% endfor %}

<h3>r</h3>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.author == "r" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h6>
  {% endif %}
{% endfor %}

<h3>s</h3>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.author == "s" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h6>
  {% endif %}
{% endfor %}

<h3>t</h3>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.author == "t" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h6>
  {% endif %}
{% endfor %}

<h3>u</h3>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.author == "u" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h6>
  {% endif %}
{% endfor %}

<h3>v</h3>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.author == "v" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h6>
  {% endif %}
{% endfor %}

<h3>w</h3>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.author == "w" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h6>
  {% endif %}
{% endfor %}

<h3>x</h3>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.author == "x" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h6>
  {% endif %}
{% endfor %}

<h3>y</h3>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.author == "y" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h6>
  {% endif %}
{% endfor %}

<h3>z</h3>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.author == "z" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h6>
  {% endif %}
{% endfor %}





