---
title: Hymn Meters
layout: index
---

{% assign pages = site.pages | sort: 'meter' %}

<h5>55 55 10 55 55 10</h5>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.meter == "55 55 10 55 55 10" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }} &emsp; <b>{{ page.number }}</a></h6>
  {% endif %}
{% endfor %}

<h5>66 66 6</h5>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.meter == "66 66 6" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }} &emsp; <b>{{ page.number }}</a></h6>
  {% endif %}
{% endfor %}

<h5>66 66 67 67</h5>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.meter == "66 66 67 67" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }} &emsp; <b>{{ page.number }}</a></h6>
  {% endif %}
{% endfor %}

<h5>66 77 77</h5>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.meter == "66 77 77" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }} &emsp; <b>{{ page.number }}</a></h6>
  {% endif %}
{% endfor %}

<h5>67 67 66 66</h5>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.meter == "67 67 66 66" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }} &emsp; <b>{{ page.number }}</a></h6>
  {% endif %}
{% endfor %}

<h5>69 96 99</h5>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.meter == "69 96 99" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }} &emsp; <b>{{ page.number }}</a></h6>
  {% endif %}
{% endfor %}

<h5>76 76 66 66</h5>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.meter == "76 76 66 66" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }} &emsp; <b>{{ page.number }}</a></h6>
  {% endif %}
{% endfor %}

<h5>76 76 67 76</h5>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.meter == "76 76 67 76" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }} &emsp; <b>{{ page.number }}</a></h6>
  {% endif %}
{% endfor %}

<h5>76 76 d</h5>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.meter == "76 76 D" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }} &emsp; <b>{{ page.number }}</a></h6>
  {% endif %}
{% endfor %}

<h5>77 77</h5>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.meter == "77 77" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }} &emsp; <b>{{ page.number }}</a></h6>
  {% endif %}
{% endfor %}

<h5>77 77 556 67</h5>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.meter == "77 77 556 67" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }} &emsp; <b>{{ page.number }}</a></h6>
  {% endif %}
{% endfor %}

<h5>77 77 77</h5>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.meter == "77 77 77" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }} &emsp; <b>{{ page.number }}</a></h6>
  {% endif %}
{% endfor %}

<h5>77 77 77 88</h5>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.meter == "77 77 77 88" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }} &emsp; <b>{{ page.number }}</a></h6>
  {% endif %}
{% endfor %}

<h5>77 77 777</h5>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.meter == "77 77 777" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }} &emsp; <b>{{ page.number }}</a></h6>
  {% endif %}
{% endfor %}

<h5>77 77 88 7</h5>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.meter == "77 77 88 7" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }} &emsp; <b>{{ page.number }}</a></h6>
  {% endif %}
{% endfor %}

<h5>77 776 d</h5>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.meter == "77 776 D" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }} &emsp; <b>{{ page.number }}</a></h6>
  {% endif %}
{% endfor %}

<h5>77 88</h5>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.meter == "77 88" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }} &emsp; <b>{{ page.number }}</a></h6>
  {% endif %}
{% endfor %}

<h5>776 778</h5>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.meter == "776 778" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }} &emsp; <b>{{ page.number }}</a></h6>
  {% endif %}
{% endfor %}

<h5>78 78 10 10</h5>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.meter == "78 78 10 10" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }} &emsp; <b>{{ page.number }}</a></h6>
  {% endif %}
{% endfor %}

<h5>78 78 76 76 76 76</h5>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.meter == "78 78 76 76 76 76" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }} &emsp; <b>{{ page.number }}</a></h6>
  {% endif %}
{% endfor %}

<h5>78 87 88</h5>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.meter == "78 87 88" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }} &emsp; <b>{{ page.number }}</a></h6>
  {% endif %}
{% endfor %}

<h5>8 11 8 11</h5>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.meter == "8 11 8 11" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }} &emsp; <b>{{ page.number }}</a></h6>
  {% endif %}
{% endfor %}

<h5>8 33 6 d</h5>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.meter == "8 33 6 D" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }} &emsp; <b>{{ page.number }}</a></h6>
  {% endif %}
{% endfor %}

<h5>847 847 44 44 7</h5>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.meter == "847 847 44 44 7" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }} &emsp; <b>{{ page.number }}</a></h6>
  {% endif %}
{% endfor %}

<h5>86 86</h5>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.meter == "86 86" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }} &emsp; <b>{{ page.number }}</a></h6>
  {% endif %}
{% endfor %}

<h5>86 86 d</h5>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.meter == "86 86 D" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }} &emsp; <b>{{ page.number }}</a></h6>
  {% endif %}
{% endfor %}

<h5>87 87 447</h5>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.meter == "87 87 447" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }} &emsp; <b>{{ page.number }}</a></h6>
  {% endif %}
{% endfor %}

<h5>87 87 447 447</h5>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.meter == "87 87 447 447" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }} &emsp; <b>{{ page.number }}</a></h6>
  {% endif %}
{% endfor %}

<h5>87 87 65 56 7</h5>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.meter == "87 87 65 56 7" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }} &emsp; <b>{{ page.number }}</a></h6>
  {% endif %}
{% endfor %}

<h5>87 87 77</h5>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.meter == "87 87 77" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }} &emsp; <b>{{ page.number }}</a></h6>
  {% endif %}
{% endfor %}

<h5>87 87 77 88</h5>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.meter == "87 87 77 88" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }} &emsp; <b>{{ page.number }}</a></h6>
  {% endif %}
{% endfor %}

<h5>87 87 87 447</h5>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.meter == "87 87 87 447" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }} &emsp; <b>{{ page.number }}</a></h6>
  {% endif %}
{% endfor %}

<h5>87 87 87 467</h5>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.meter == "87 87 87 467" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }} &emsp; <b>{{ page.number }}</a></h6>
  {% endif %}
{% endfor %}

<h5>87 87 87 877</h5>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.meter == "87 87 87 877" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }} &emsp; <b>{{ page.number }}</a></h6>
  {% endif %}
{% endfor %}

<h5>87 87 877 877</h5>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.meter == "87 87 877 877" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }} &emsp; <b>{{ page.number }}</a></h6>
  {% endif %}
{% endfor %}

<h5>87 87 88</h5>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.meter == "87 87 88" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }} &emsp; <b>{{ page.number }}</a></h6>
  {% endif %}
{% endfor %}

<h5>87 87 88 77</h5>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.meter == "87 87 88 77" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }} &emsp; <b>{{ page.number }}</a></h6>
  {% endif %}
{% endfor %}

<h5>87 87 887</h5>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.meter == "87 87 887" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }} &emsp; <b>{{ page.number }}</a></h6>
  {% endif %}
{% endfor %}

<h5>87 87 887 887</h5>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.meter == "87 87 887 887" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }} &emsp; <b>{{ page.number }}</a></h6>
  {% endif %}
{% endfor %}

<h5>877 877</h5>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.meter == "877 877" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }} &emsp; <b>{{ page.number }}</a></h6>
  {% endif %}
{% endfor %}

<h5>88 6 88</h5>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.meter == "88 6 88" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }} &emsp; <b>{{ page.number }}</a></h6>
  {% endif %}
{% endfor %}

<h5>88 77</h5>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.meter == "88 77" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }} &emsp; <b>{{ page.number }}</a></h6>
  {% endif %}
{% endfor %}

<h5>88 87</h5>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.meter == "88 87" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }} &emsp; <b>{{ page.number }}</a></h6>
  {% endif %}
{% endfor %}

<h5>88 88</h5>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.meter == "88 88" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }} &emsp; <b>{{ page.number }}</a></h6>
  {% endif %}
{% endfor %}

<h5>88 88 4</h5>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.meter == "88 88 4" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }} &emsp; <b>{{ page.number }}</a></h6>
  {% endif %}
{% endfor %}

<h5>88 88 88</h5>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.meter == "88 88 88" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }} &emsp; <b>{{ page.number }}</a></h6>
  {% endif %}
{% endfor %}

<h5>88 88 99 99</h5>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.meter == "88 88 99 99" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }} &emsp; <b>{{ page.number }}</a></h6>
  {% endif %}
{% endfor %}

<h5>884 887 447</h5>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.meter == "884 887 447" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }} &emsp; <b>{{ page.number }}</a></h6>
  {% endif %}
{% endfor %}

<h5>887 87</h5>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.meter == "887 87" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }} &emsp; <b>{{ page.number }}</a></h6>
  {% endif %}
{% endfor %}

<h5>887 887</h5>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.meter == "887 887" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }} &emsp; <b>{{ page.number }}</a></h6>
  {% endif %}
{% endfor %}

<h5>887 887 22 44 48</h5>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.meter == "887 887 22 44 48" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }} &emsp; <b>{{ page.number }}</a></h6>
  {% endif %}
{% endfor %}

<h5>887 887 d</h5>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.meter == "887 887 D" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }} &emsp; <b>{{ page.number }}</a></h6>
  {% endif %}
{% endfor %}

<h5>98 98 45 455</h5>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.meter == "98 98 45 455" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }} &emsp; <b>{{ page.number }}</a></h6>
  {% endif %}
{% endfor %}

<h5>11 11 11 5</h5>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.meter == "11 11 11 5" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }} &emsp; <b>{{ page.number }}</a></h6>
  {% endif %}
{% endfor %}

<h5>12 13 12 13</h5>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.meter == "12 13 12 13" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }} &emsp; <b>{{ page.number }}</a></h6>
  {% endif %}
{% endfor %}

<h5>13 13 12 12</h5>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.meter == "13 13 12 12" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }} &emsp; <b>{{ page.number }}</a></h6>
  {% endif %}
{% endfor %}






