---
title: Hymn Meters
layout: index
---

{% assign pages = site.pages | sort: 'meter' %}

<h3>55 55 10 55 55 10</h3>
{% for page in pages %}
  {% if page.meter == "55 55 10 55 55 10" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}&emsp; <<b>{{ page.number }}</a></h6>
  {% endif %}
{% endfor %}

<h3>66 66 6</h3>
{% for page in pages %}
  {% if page.meter == "66 66 6" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}&emsp; <b>{{ page.number }}</a></h6>
  {% endif %}
{% endfor %}

<h3>66 66 67 67</h3>
{% for page in pages %}
  {% if page.meter == "66 66 67 67" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}&emsp; <b>{{ page.number }}</a></h6>
  {% endif %}
{% endfor %}

<h3>66 77 77</h3>
{% for page in pages %}
  {% if page.meter == "66 77 77" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}&emsp; <b>{{ page.number }}</a></h6>
  {% endif %}
{% endfor %}

<h3>67 67 66 66</h3>
{% for page in pages %}
  {% if page.meter == "67 67 66 66" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}&emsp; <b>{{ page.number }}</a></h6>
  {% endif %}
{% endfor %}

<h3>69 96 99</h3>
{% for page in pages %}
  {% if page.meter == "69 96 99" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}&emsp; <b>{{ page.number }}</a></h6>
  {% endif %}
{% endfor %}

<h3>76 76 66 66</h3>
{% for page in pages %}
  {% if page.meter == "76 76 66 66" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}&emsp; <b>{{ page.number }}</a></h6>
  {% endif %}
{% endfor %}

<h3>76 76 67 76</h3>
{% for page in pages %}
  {% if page.meter == "76 76 67 76" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}&emsp; <b>{{ page.number }}</a></h6>
  {% endif %}
{% endfor %}

<h3>76 76 D</h3>
{% for page in pages %}
  {% if page.meter == "76 76 D" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}&emsp; <b>{{ page.number }}</a></h6>
  {% endif %}
{% endfor %}

<h3>77 77</h3>
{% for page in pages %}
  {% if page.meter == "77 77" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}&emsp; <b>{{ page.number }}</a></h6>
  {% endif %}
{% endfor %}

<h3>77 77 556 67</h3>
{% for page in pages %}
  {% if page.meter == "77 77 556 67" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}&emsp; <b>{{ page.number }}</a></h6>
  {% endif %}
{% endfor %}

<h3>77 77 77</h3>
{% for page in pages %}
  {% if page.meter == "77 77 77" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}&emsp; <b>{{ page.number }}</a></h6>
  {% endif %}
{% endfor %}

<h3>77 77 77 88</h3>
{% for page in pages %}
  {% if page.meter == "77 77 77 88" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}&emsp; <b>{{ page.number }}</a></h6>
  {% endif %}
{% endfor %}

<h3>77 77 777</h3>
{% for page in pages %}
  {% if page.meter == "77 77 777" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}&emsp; <b>{{ page.number }}</a></h6>
  {% endif %}
{% endfor %}

<h3>77 77 88 7</h3>
{% for page in pages %}
  {% if page.meter == "77 77 88 7" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}&emsp; <b>{{ page.number }}</a></h6>
  {% endif %}
{% endfor %}

<h3>77 776 D</h3>
{% for page in pages %}
  {% if page.meter == "77 776 D" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}&emsp; <b>{{ page.number }}</a></h6>
  {% endif %}
{% endfor %}

<h3>77 88</h3>
{% for page in pages %}
  {% if page.meter == "77 88" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}&emsp; <b>{{ page.number }}</a></h6>
  {% endif %}
{% endfor %}

<h3>776 778</h3>
{% for page in pages %}
  {% if page.meter == "776 778" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}&emsp; <b>{{ page.number }}</a></h6>
  {% endif %}
{% endfor %}

<h3>78 78 10 10</h3>
{% for page in pages %}
  {% if page.meter == "78 78 10 10" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}&emsp; <b>{{ page.number }}</a></h6>
  {% endif %}
{% endfor %}

<h3>78 78 76 76 76 76</h3>
{% for page in pages %}
  {% if page.meter == "78 78 76 76 76 76" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}&emsp; <b>{{ page.number }}</a></h6>
  {% endif %}
{% endfor %}

<h3>78 87 88</h3>
{% for page in pages %}
  {% if page.meter == "78 87 88" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}&emsp; <b>{{ page.number }}</a></h6>
  {% endif %}
{% endfor %}

<h3>8 11 8 11</h3>
{% for page in pages %}
  {% if page.meter == "8 11 8 11" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}&emsp; <b>{{ page.number }}</a></h6>
  {% endif %}
{% endfor %}

<h3>8 33 6 D</h3>
{% for page in pages %}
  {% if page.meter == "8 33 6 D" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}&emsp; <b>{{ page.number }}</a></h6>
  {% endif %}
{% endfor %}

<h3>847 847 44 44 7</h3>
{% for page in pages %}
  {% if page.meter == "847 847 44 44 7" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}&emsp; <b>{{ page.number }}</a></h6>
  {% endif %}
{% endfor %}

<h3>86 86</h3>
{% for page in pages %}
  {% if page.meter == "86 86" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}&emsp; <b>{{ page.number }}</a></h6>
  {% endif %}
{% endfor %}

<h3>86 86 D</h3>
{% for page in pages %}
  {% if page.meter == "86 86 D" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}&emsp; <b>{{ page.number }}</a></h6>
  {% endif %}
{% endfor %}

<h3>87 87 447</h3>
{% for page in pages %}
  {% if page.meter == "87 87 447" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}&emsp; <b>{{ page.number }}</a></h6>
  {% endif %}
{% endfor %}

<h3>87 87 447 447</h3>
{% for page in pages %}
  {% if page.meter == "87 87 447 447" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}&emsp; <b>{{ page.number }}</a></h6>
  {% endif %}
{% endfor %}

<h3>87 87 65 56 7</h3>
{% for page in pages %}
  {% if page.meter == "87 87 65 56 7" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}&emsp; <b>{{ page.number }}</a></h6>
  {% endif %}
{% endfor %}

<h3>87 87 77</h3>
{% for page in pages %}
  {% if page.meter == "87 87 77" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}&emsp; <b>{{ page.number }}</a></h6>
  {% endif %}
{% endfor %}

<h3>87 87 77 88</h3>
{% for page in pages %}
  {% if page.meter == "87 87 77 88" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}&emsp; <b>{{ page.number }}</a></h6>
  {% endif %}
{% endfor %}

<h3>87 87 87 447</h3>
{% for page in pages %}
  {% if page.meter == "87 87 87 447" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}&emsp; <b>{{ page.number }}</a></h6>
  {% endif %}
{% endfor %}

<h3>87 87 87 467</h3>
{% for page in pages %}
  {% if page.meter == "87 87 87 467" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}&emsp; <b>{{ page.number }}</a></h6>
  {% endif %}
{% endfor %}

<h3>87 87 87 877</h3>
{% for page in pages %}
  {% if page.meter == "87 87 87 877" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}&emsp; <b>{{ page.number }}</a></h6>
  {% endif %}
{% endfor %}

<h3>87 87 877 877</h3>
{% for page in pages %}
  {% if page.meter == "87 87 877 877" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}&emsp; <b>{{ page.number }}</a></h6>
  {% endif %}
{% endfor %}

<h3>87 87 88</h3>
{% for page in pages %}
  {% if page.meter == "87 87 88" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}&emsp; <b>{{ page.number }}</a></h6>
  {% endif %}
{% endfor %}

<h3>87 87 88 77</h3>
{% for page in pages %}
  {% if page.meter == "87 87 88 77" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}&emsp; <b>{{ page.number }}</a></h6>
  {% endif %}
{% endfor %}

<h3>87 87 887</h3>
{% for page in pages %}
  {% if page.meter == "87 87 887" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}&emsp; <b>{{ page.number }}</a></h6>
  {% endif %}
{% endfor %}

<h3>87 87 887 887</h3>
{% for page in pages %}
  {% if page.meter == "87 87 887 887" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}&emsp; <b>{{ page.number }}</a></h6>
  {% endif %}
{% endfor %}

<h3>877 877</h3>
{% for page in pages %}
  {% if page.meter == "877 877" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}&emsp; <b>{{ page.number }}</a></h6>
  {% endif %}
{% endfor %}

<h3>88 6 88</h3>
{% for page in pages %}
  {% if page.meter == "88 6 88" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}&emsp; <b>{{ page.number }}</a></h6>
  {% endif %}
{% endfor %}

<h3>88 77</h3>
{% for page in pages %}
  {% if page.meter == "88 77" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}&emsp; <b>{{ page.number }}</a></h6>
  {% endif %}
{% endfor %}

<h3>88 87</h3>
{% for page in pages %}
  {% if page.meter == "88 87" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}&emsp; <b>{{ page.number }}</a></h6>
  {% endif %}
{% endfor %}

<h3>88 88</h3>
{% for page in pages %}
  {% if page.meter == "88 88" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}&emsp; <b>{{ page.number }}</a></h6>
  {% endif %}
{% endfor %}

<h3>88 88 4</h3>
{% for page in pages %}
  {% if page.meter == "88 88 4" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}&emsp; <b>{{ page.number }}</a></h6>
  {% endif %}
{% endfor %}

<h3>88 88 88</h3>
{% for page in pages %}
  {% if page.meter == "88 88 88" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}&emsp; <b>{{ page.number }}</a></h6>
  {% endif %}
{% endfor %}

<h3>88 88 99 99</h3>
{% for page in pages %}
  {% if page.meter == "88 88 99 99" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}&emsp; <b>{{ page.number }}</a></h6>
  {% endif %}
{% endfor %}

<h3>884 887 447</h3>
{% for page in pages %}
  {% if page.meter == "884 887 447" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}&emsp; <b>{{ page.number }}</a></h6>
  {% endif %}
{% endfor %}

<h3>887 87</h3>
{% for page in pages %}
  {% if page.meter == "887 87" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}&emsp; <b>{{ page.number }}</a></h6>
  {% endif %}
{% endfor %}

<h3>887 887</h3>
{% for page in pages %}
  {% if page.meter == "887 887" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}&emsp; <b>{{ page.number }}</a></h6>
  {% endif %}
{% endfor %}

<h3>887 887 22 44 48</h3>
{% for page in pages %}
  {% if page.meter == "887 887 22 44 48" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}&emsp; <b>{{ page.number }}</a></h6>
  {% endif %}
{% endfor %}

<h3>887 887 D</h3>
{% for page in pages %}
  {% if page.meter == "887 887 D" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}&emsp; <b>{{ page.number }}</a></h6>
  {% endif %}
{% endfor %}

<h3>98 98 45 455</h3>
{% for page in pages %}
  {% if page.meter == "98 98 45 455" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}&emsp; <b>{{ page.number }}</a></h6>
  {% endif %}
{% endfor %}

<h3>11 11 11 5</h3>
{% for page in pages %}
  {% if page.meter == "11 11 11 5" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}&emsp; <b>{{ page.number }}</a></h6>
  {% endif %}
{% endfor %}

<h3>12 13 12 13</h3>
{% for page in pages %}
  {% if page.meter == "12 13 12 13" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}&emsp; <b>{{ page.number }}</a></h6>
  {% endif %}
{% endfor %}

<h3>13 13 12 12</h3>
{% for page in pages %}
  {% if page.meter == "13 13 12 12" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}&emsp; <b>{{ page.number }}</a></h6>
  {% endif %}
{% endfor %}






