---
title: Hymn Tunes
layout: index
---

{% assign pages = site.pages | sort: 'tune' %}

<h3>a</h3>
{% for page in pages %}
  {% if page.tune == "a" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h6>
  {% endif %}
{% endfor %}

<h3>b</h3>
{% for page in pages %}
  {% if page.tune == "b" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h6>
  {% endif %}
{% endfor %}

<h3>c</h3>
{% for page in pages %}
  {% if page.tune == "c" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h6>
  {% endif %}
{% endfor %}

<h3>d</h3>
{% for page in pages %}
  {% if page.tune == "d" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h6>
  {% endif %}
{% endfor %}

<h3>e</h3>
{% for page in pages %}
  {% if page.tune == "e" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h6>
  {% endif %}
{% endfor %}

<h3>f</h3>
{% for page in pages %}
  {% if page.tune == "f" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h6>
  {% endif %}
{% endfor %}

<h3>g</h3>
{% for page in pages %}
  {% if page.tune == "g" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h6>
  {% endif %}
{% endfor %}

<h3>h</h3>
{% for page in pages %}
  {% if page.tune == "h" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h6>
  {% endif %}
{% endfor %}

<h3>i</h3>
{% for page in pages %}
  {% if page.tune == "i" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h6>
  {% endif %}
{% endfor %}

<h3>j</h3>
{% for page in pages %}
  {% if page.tune == "j" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h6>
  {% endif %}
{% endfor %}

<h3>k</h3>
{% for page in pages %}
  {% if page.tune == "k" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h6>
  {% endif %}
{% endfor %}

<h3>l</h3>
{% for page in pages %}
  {% if page.tune == "l" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h6>
  {% endif %}
{% endfor %}

<h3>m</h3>
{% for page in pages %}
  {% if page.tune == "m" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h6>
  {% endif %}
{% endfor %}

<h3>n</h3>
{% for page in pages %}
  {% if page.tune == "n" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h6>
  {% endif %}
{% endfor %}

<h3>o</h3>
{% for page in pages %}
  {% if page.tune == "o" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h6>
  {% endif %}
{% endfor %}

<h3>p</h3>
{% for page in pages %}
  {% if page.tune == "p" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h6>
  {% endif %}
{% endfor %}

<h3>q</h3>
{% for page in pages %}
  {% if page.tune == "q" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h6>
  {% endif %}
{% endfor %}

<h3>r</h3>
{% for page in pages %}
  {% if page.tune == "r" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h6>
  {% endif %}
{% endfor %}

<h3>s</h3>
{% for page in pages %}
  {% if page.tune == "s" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h6>
  {% endif %}
{% endfor %}

<h3>t</h3>
{% for page in pages %}
  {% if page.tune == "t" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h6>
  {% endif %}
{% endfor %}

<h3>u</h3>
{% for page in pages %}
  {% if page.tune == "u" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h6>
  {% endif %}
{% endfor %}

<h3>v</h3>
{% for page in pages %}
  {% if page.tune == "v" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h6>
  {% endif %}
{% endfor %}

<h3>w</h3>
{% for page in pages %}
  {% if page.tune == "w" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h6>
  {% endif %}
{% endfor %}

<h3>x</h3>
{% for page in pages %}
  {% if page.tune == "x" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h6>
  {% endif %}
{% endfor %}

<h3>y</h3>
{% for page in pages %}
  {% if page.tune == "y" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h6>
  {% endif %}
{% endfor %}

<h3>z</h3>
{% for page in pages %}
  {% if page.tune == "z" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h6>
  {% endif %}
{% endfor %}





