---
title: Hymn Tunes
layout: index
---

{% assign pages = site.pages | sort: 'tune' %}

<h5>a</h5>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.tune == "a" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h6>
  {% endif %}
{% endfor %}

<h5>b</h5>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.tune == "b" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h6>
  {% endif %}
{% endfor %}

<h5>c</h5>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.tune == "c" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h6>
  {% endif %}
{% endfor %}

<h5>d</h5>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.tune == "d" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h6>
  {% endif %}
{% endfor %}

<h5>e</h5>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.tune == "e" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h6>
  {% endif %}
{% endfor %}

<h5>f</h5>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.tune == "f" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h6>
  {% endif %}
{% endfor %}

<h5>g</h5>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.tune == "g" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h6>
  {% endif %}
{% endfor %}

<h5>h</h5>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.tune == "h" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h6>
  {% endif %}
{% endfor %}

<h5>i</h5>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.tune == "i" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h6>
  {% endif %}
{% endfor %}

<h5>j</h5>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.tune == "j" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h6>
  {% endif %}
{% endfor %}

<h5>k</h5>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.tune == "k" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h6>
  {% endif %}
{% endfor %}

<h5>l</h5>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.tune == "l" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h6>
  {% endif %}
{% endfor %}

<h5>m</h5>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.tune == "m" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h6>
  {% endif %}
{% endfor %}

<h5>n</h5>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.tune == "n" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h6>
  {% endif %}
{% endfor %}

<h5>o</h5>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.tune == "o" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h6>
  {% endif %}
{% endfor %}

<h5>p</h5>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.tune == "p" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h6>
  {% endif %}
{% endfor %}

<h5>q</h5>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.tune == "q" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h6>
  {% endif %}
{% endfor %}

<h5>r</h5>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.tune == "r" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h6>
  {% endif %}
{% endfor %}

<h5>s</h5>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.tune == "s" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h6>
  {% endif %}
{% endfor %}

<h5>t</h5>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.tune == "t" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h6>
  {% endif %}
{% endfor %}

<h5>u</h5>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.tune == "u" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h6>
  {% endif %}
{% endfor %}

<h5>v</h5>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.tune == "v" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h6>
  {% endif %}
{% endfor %}

<h5>w</h5>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.tune == "w" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h6>
  {% endif %}
{% endfor %}

<h5>x</h5>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.tune == "x" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h6>
  {% endif %}
{% endfor %}

<h5>y</h5>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.tune == "y" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h6>
  {% endif %}
{% endfor %}

<h5>z</h5>
{% assign sortedpages = site.pages | sort: 'title' %}
{% for page in sortedpages %}
  {% if page.tune == "z" %}
  <h6><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h6>
  {% endif %}
{% endfor %}





