---
layout: default
---

<header class="short">
	{% include navigation/top.html %}
</header>

<div class="dark-content docs-container">
	<div class="wrapper wrapper-large">
			{% include sidebar/hymns.html %}
		<section class="docs-main" id="doc">
			<article class="content">
				<h1>{{ page.title }}</h1>
				<p class="docs-category">{% if page.section %}{{ page.section }}{% else %}{{ site.display_title }}{% endif %}</p>

				<div>{{ content }}</div>

			</article>
		</section>
	</div>
</div>

<script>
	{% include autofocus.js %}
</script>
