---
layout: default
---

<header class="short">
	{% include navigation/top.html %}
</header>

<div class="dark-content docs-container">
	<div class="wrapper wrapper-large">
			{% include sidebar/hymns.html %}
		<section class="docs-main" id="doc">
			<article class="content">
				<div class="back-button">
				<h6><a href="{{ page.link | prepend: site.baseurl }}">< &emsp;Go to {{ page.hymn }}</a></h6>
				</div><br>
				<h1>{{ page.title }}</h1>
				<p class="docs-category">{% if page.section %}{{ page.section }}{% else %}{{ site.display_title }}{% endif %}</p>

				<div>{{ content }}</div>

				<div class="block-info">
					<b>author</b>&emsp;&emsp;{{ page.author}}<br>
					<b>year</b>&emsp;&emsp;{{ page.year}}<br>
					<b>meter</b>&emsp;&emsp;{{ page.meter}}<br>
					<b>source</b>&emsp;&emsp;{{ page.source}}<br>
					<b>category</b>&emsp;&emsp;{{ page.category}}<br>
					<b>scripture</b>&emsp;&emsp;{{ page.scripture}}<br>
				</div>
				
			</article>
		</section>
	</div>
</div>

<script>
	{% include autofocus.js %}
</script>
