---
layout: default
---

<header class="short">
	{% include navigation/top.html %}
</header>

<div class="dark-content docs-container">
	<div class="wrapper wrapper-large">
			{% include sidebar/hymns.html %}
		<section class="docs-main" id="doc">
			<article class="content">
				<h1>{{ page.title }}</h1>
				<p class="docs-category">{% if page.section %}{{ page.section }}{% else %}{{ site.display_title }}{% endif %}</p>

				<div class="block-info">
					<b>year</b>&emsp;&emsp;{{ page.year}}<br>
					<b>meter</b>&emsp;&emsp;{{ page.meter}}<br>
					<b>stanzas</b>&emsp;&emsp;{{ page.stanzas}}<br>
					<b>scripture</b>&emsp;&emsp;{{ page.scripture}}<br>
					<b>cruger</b>&emsp;&emsp;{{ page.cruger}}<br>
					<b>ebeling</b>&emsp;&emsp;{{ page.ebeling}}<br>
					<b>feustking</b>&emsp;&emsp;{{ page.feustking}}<br>
					<b>zahn</b>&emsp;&emsp;{{ page.zahn}}<br>
					<b>bwv</b>&emsp;&emsp;{{ page.bwv}}<br>
				</div>

				<div>{{ content }}</div>

			</article>
		</section>
	</div>
</div>

<script>
	{% include autofocus.js %}
</script>
