		<nav class="docs-nav">	
			<ul>
					
				<li class="nav-item top-level {% if page.url contains '/info/about' %}current{% endif %}">
				<a href="/info/about">About This Book</a>
				</li>
				<li class="nav-item top-level {% if page.url contains '/info/german' %}current{% endif %}">
				<a href="/info/german">Gerhardt's German</a>
				</li>
				<li class="nav-item top-level {% if page.url contains '/info/colophon' %}current{% endif %}">
				<a href="/info/colophon">Colophon</a>
				</li>
				<li class="nav-item top-level {% if page.url contains '/info/aboutme' %}current{% endif %}">
				<a href="/info/ianwelch">About Ian Welch</a>
				</li>
				<li class="nav-item top-level {% if page.url contains '/info/contact' %}current{% endif %}">
				<a href="/info/contact">Contact</a>
				</li>
				<li class="nav-item top-level {% if page.url contains '/info/contact' %}current{% endif %}">
				<a href="/info/legal">Legal</a>
				</li>

			</ul>
		</nav>