		<nav class="docs-nav">	
			<ul>
					
				<li class="nav-item top-level {% if page.url contains '/appendix/sources' %}current{% endif %}">
				<a href="/appendix/sources">Primary Sources</a>
				</li>
				<li class="nav-item top-level {% if page.url contains '/appendix/bibliography' %}current{% endif %}">
				<a href="/appendix/bibliography">Bibliography</a>
				</li>
				<li class="nav-item top-level {% if page.url contains '/appendix/will' %}current{% endif %}">
				<a href="/appendix/will">Gerhardt's Last Will and Testament</a>
				</li>
				<li class="nav-item top-level {% if page.url contains '/appendix/bach' %}current{% endif %}">
				<a href="/appendix/bach">Bach and Gerhardt</a>
				</li>

			</ul>
		</nav>