		
		<nav class="docs-nav">	
			<ul>
					
					<li class="nav-item top-level {% if page.url contains '/hymns/index.html' %}current{% endif %}">
						<a href="/hymns/">Introduction</a></li>

					<h5>advent</h5>

					<li class="nav-item top-level {% if page.url contains '/hymns/001' %}current{% endif %}">
						<a href="/hymns/001">1&emsp;Wie soll ich dich empfangen</a>
						<ul>
								<li class="nav-item {% if page.url contains '/hymns/001' %}current{% endif %}">
								<a href="/hymns/001/text">Text and Translations</a>
								<a href="/hymns/001/tunes">Tunes and Settings</a>
								<a href="/hymns/001/analysis">Analysis</a>
								<a href="/hymns/001/hewitt">Hewitt Commentary</a></li>
						</ul>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/002' %}current{% endif %}">
						<a href="/hymns/002">2&emsp;Warum willst du draußen stehen</a>
						<ul>
								<li class="nav-item {% if page.url contains '/hymns/002' %}current{% endif %}">
								<a href="/hymns/002/text">Text and Translations</a>
								</li>
						</ul>
					</li>

					<h5>christmas</h5>

					<li class="nav-item top-level {% if page.url contains '/hymns/003' %}current{% endif %}">
						<a href="/hymns/003">3&emsp;Wir singen dir, Immanuel</a>
						<ul>
								<li class="nav-item {% if page.url contains '/hymns/003' %}current{% endif %}">
								<a href="/hymns/003/text">Text and Translations</a>
								<a href="/hymns/003/hewitt">Hewitt Commentary</a>
								</li>
						</ul>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/004' %}current{% endif %}">
						<a href="/hymns/004">4&emsp;O Jesu Christ, dein Kripplein ist</a>
						<ul>
								<li class="nav-item {% if page.url contains '/hymns/004' %}current{% endif %}">
								</li>
						</ul>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/005' %}current{% endif %}">
						<a href="/hymns/005">5&emsp;Fr&ouml;hlich soll mein Herze springen</a>
						<ul>
								<li class="nav-item {% if page.url contains '/hymns/005' %}current{% endif %}">
								</li>
						</ul>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/006' %}current{% endif %}">
						<a href="/hymns/006">6&emsp;Ich Steh An Deiner Krippe Hier</a>
						<ul>
								<li class="nav-item {% if page.url contains '/hymns/006' %}current{% endif %}">
								</li>
						</ul>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/007' %}current{% endif %}">
						<a href="/hymns/007">7&emsp;Schaut, schaut, was ist f&uuml;r Wunder bar?</a>
						<ul>
								<li class="nav-item {% if page.url contains '/hymns/007' %}current{% endif %}">
								</li>
						</ul>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/008' %}current{% endif %}">
						<a href="/hymns/008">8&emsp;Kommt und lasst uns Christum ehren</a>
						<ul>
								<li class="nav-item {% if page.url contains '/hymns/008' %}current{% endif %}">
								</li>
						</ul>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/009' %}current{% endif %}">
						<a href="/hymns/009">9&emsp;Alle, die ihr, Gott zu ehren</a>
						<ul>
								<li class="nav-item {% if page.url contains '/hymns/009' %}current{% endif %}">
								</li>
						</ul>
					</li>

					<h5>new year</h5>

					<li class="nav-item top-level {% if page.url contains '/hymns/010' %}current{% endif %}">
						<a href="/hymns/010">10&emsp;Nun laßt uns gehn und treten</a>
						<ul>
								<li class="nav-item {% if page.url contains '/hymns/010' %}current{% endif %}">
								<a href="/hymns/010/text">Text and Translations</a>
								<a href="/hymns/010/tunes">Tunes and Settings</a>
								<a href="/hymns/010/analysis">Analysis</a></li>
						</ul>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/011' %}current{% endif %}">
						<a href="/hymns/011">11&emsp;Warum machet solche Schmerzen</a>
					</li>

					<h5>passion</h5>

					<li class="nav-item top-level {% if page.url contains '/hymns/012' %}current{% endif %}">
						<a href="/hymns/012">12&emsp;Ein Lämmlein geht und trägt die Schuld</a>
						<ul>
								<li class="nav-item {% if page.url contains '/hymns/012' %}current{% endif %}">
								<a href="/hymns/012/hewitt">Hewitt Commentary</a>
								</li>
						</ul>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/013' %}current{% endif %}">
						<a href="/hymns/013">13&emsp;O Welt, sieh hier dein Leben</a>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/014' %}current{% endif %}">
						<a href="/hymns/014">14&emsp;O Mensch, beweine deine Sünd</a>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/015' %}current{% endif %}">
						<a href="/hymns/015">15&emsp;Siehe, mein getreuer Knecht</a>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/016' %}current{% endif %}">
						<a href="/hymns/016">16&emsp;Hör an, mein Herz, die sieben Wort</a>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/017' %}current{% endif %}">
						<a href="/hymns/017">17&emsp;Als Gottes Lamm und Leue</a>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/018' %}current{% endif %}">
						<a href="/hymns/018">18&emsp;Sei mir tausendmal gegrüßet</a>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/019' %}current{% endif %}">
						<a href="/hymns/019">19&emsp;Gegrüßet seist du, Gott, mein Heil</a>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/020' %}current{% endif %}">
						<a href="/hymns/020">20&emsp;Sei wohl gegrüßet, guter Hirt</a>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/021' %}current{% endif %}">
						<a href="/hymns/021">21&emsp;Ich grüße dich, du frömmster Mann</a>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/022' %}current{% endif %}">
						<a href="/hymns/022">22&emsp;Gegrüßet seist du, meine Kron</a>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/023' %}current{% endif %}">
						<a href="/hymns/023">23&emsp;O Herz des Königs aller Welt</a>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/024' %}current{% endif %}">
						<a href="/hymns/024">24&emsp;O Haupt voll Blut und Wunden</a>
						<ul>
								<li class="nav-item {% if page.url contains '/hymns/024' %}current{% endif %}">
								<a href="/hymns/024/hewitt">Hewitt Commentary</a>
								</li>
						</ul>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/025' %}current{% endif %}">
						<a href="/hymns/025">25&emsp;Also hat Gott die Welt geliebt</a>
					</li>

					<h5>easter</h5>

					<li class="nav-item top-level {% if page.url contains '/hymns/026' %}current{% endif %}">
						<a href="/hymns/026">26&emsp;Auf, auf, mein Herz, mit Freuden</a>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/027' %}current{% endif %}">
						<a href="/hymns/027">27&emsp;Nun freut euch hier und &uuml;berall</a>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/028' %}current{% endif %}">
						<a href="/hymns/028">28&emsp;Sei fr&ouml;hlich alles weit und breit</a>
					</li>

					<h5>pentecost</h5>

					<li class="nav-item top-level {% if page.url contains '/hymns/029' %}current{% endif %}">
						<a href="/hymns/029">29&emsp;Zieh ein zu deinen Toren</a>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/030' %}current{% endif %}">
						<a href="/hymns/030">30&emsp;O du allers&uuml;ßte Freude</a>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/031' %}current{% endif %}">
						<a href="/hymns/031">31&emsp;Gott Vater, sende deinen Geist</a>
					</li>

					<h5>trinity</h5>

					<li class="nav-item top-level {% if page.url contains '/hymns/032' %}current{% endif %}">
						<a href="/hymns/032">32&emsp;Was alle Weisheit in der Welt</a>
					</li>

					<h5>baptism</h5>

					<li class="nav-item top-level {% if page.url contains '/hymns/033' %}current{% endif %}">
						<a href="/hymns/033">33&emsp;Du Volk das du getaufet bist</a>
					</li>

					<h5>lord's supper</h5>

					<li class="nav-item top-level {% if page.url contains '/hymns/034' %}current{% endif %}">
						<a href="/hymns/034">34&emsp;Herr Jesu, meine Liebe</a>
					</li>

					<h5>morning</h5>

					<li class="nav-item top-level {% if page.url contains '/hymns/035' %}current{% endif %}">
						<a href="/hymns/035">35&emsp;Wach auf, mein Herz, und singe</a>
						<ul>
								<li class="nav-item {% if page.url contains '/hymns/035' %}current{% endif %}">
								<a href="/hymns/035/hewitt">Hewitt Commentary</a>
								</li>
						</ul>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/036' %}current{% endif %}">
						<a href="/hymns/036">36&emsp;Lobet den Herren alle, die ihn ehren</a>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/037' %}current{% endif %}">
						<a href="/hymns/037">37&emsp;Die g&uuml;ldne Sonne</a>
					</li>

					<h5>evening</h5>

					<li class="nav-item top-level {% if page.url contains '/hymns/038' %}current{% endif %}">
						<a href="/hymns/038">38&emsp;Nun ruhen alle W&auml;lder</a>
						<ul>
								<li class="nav-item {% if page.url contains '/hymns/038' %}current{% endif %}">
								<a href="/hymns/038/hewitt">Hewitt Commentary</a>
								</li>
						</ul>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/039' %}current{% endif %}">
						<a href="/hymns/039">39&emsp;Der Tag mit seinem Lichte</a>
					</li>

					<h5>summer</h5>

					<li class="nav-item top-level {% if page.url contains '/hymns/040' %}current{% endif %}">
						<a href="/hymns/040">40&emsp;Geh' aus mein Herz und suche Freud</a>
						<ul>
								<li class="nav-item {% if page.url contains '/hymns/040' %}current{% endif %}">
								<a href="/hymns/040/hewitt">Hewitt Commentary</a>
								</li>
						</ul>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/041' %}current{% endif %}">
						<a href="/hymns/041">41&emsp;O Herrscher in dem Himmelszelt</a>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/042' %}current{% endif %}">
						<a href="/hymns/042">42&emsp;Nun ist der Regen hin</a>
					</li>

					<h5>travel</h5>

					<li class="nav-item top-level {% if page.url contains '/hymns/043' %}current{% endif %}">
						<a href="/hymns/043">43&emsp;Nun geht frisch drauf, es geht nach Haus</a>
					</li>

					<h5>marriage</h5>

					<li class="nav-item top-level {% if page.url contains '/hymns/044' %}current{% endif %}">
						<a href="/hymns/044">44&emsp;Der aller Herz und Willen lenkt</a>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/045' %}current{% endif %}">
						<a href="/hymns/045">45&emsp;Ein Weib, das Gott den Herren liebt</a>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/046' %}current{% endif %}">
						<a href="/hymns/046">46&emsp;Voller wunder, Voller Kunst</a>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/047' %}current{% endif %}">
						<a href="/hymns/047">47&emsp;Wie sch&ouml;n ist's doch, Herr Jesu Christ</a>
					</li>

					<h5>friendship</h5>

					<li class="nav-item top-level {% if page.url contains '/hymns/048' %}current{% endif %}">
						<a href="/hymns/048">48&emsp;Unter allen, die da leben</a>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/049' %}current{% endif %}">
						<a href="/hymns/049">49&emsp;Tapfre Leute soll man loben</a>
					</li>

					<h5>repentance</h5>

					<li class="nav-item top-level {% if page.url contains '/hymns/050' %}current{% endif %}">
						<a href="/hymns/050">50&emsp;Herr, ich will gar gerne bleiben</a>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/051' %}current{% endif %}">
						<a href="/hymns/051">51&emsp;Weg, mein Herz, mit den Gedanken</a>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/052' %}current{% endif %}">
						<a href="/hymns/052">52&emsp;Herr, höre was mein Mund</a>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/053' %}current{% endif %}">
						<a href="/hymns/053">53&emsp;Nach dir, o Herr, verlanget mich</a>
					</li>

					<h5>christian life</h5>

					<li class="nav-item top-level {% if page.url contains '/hymns/054' %}current{% endif %}">
						<a href="/hymns/054">54&emsp;Zweierlei bitt ich von dir</a>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/055' %}current{% endif %}">
						<a href="/hymns/055">55&emsp;O Gott, mein Schöpfer, edler Fürst</a>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/056' %}current{% endif %}">
						<a href="/hymns/056">56&emsp;Ich erhebe, Herr, zu dir</a>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/057' %}current{% endif %}">
						<a href="/hymns/057">57&emsp;Weltskribenten und Poeten</a>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/058' %}current{% endif %}">
						<a href="/hymns/058">58&emsp;Ich weiß, mein Gott, daß all mein Tun</a>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/059' %}current{% endif %}">
						<a href="/hymns/059">59&emsp;Ich danke dir demütiglich</a>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/060' %}current{% endif %}">
						<a href="/hymns/060">60&emsp;O Jesu Christ, mein schönstes Licht</a>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/061' %}current{% endif %}">
						<a href="/hymns/061">61&emsp;Wohl dem Menschen, der nicht wandelt</a>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/062' %}current{% endif %}">
						<a href="/hymns/062">62&emsp;Hört an, ihr Völker, hört doch an</a>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/063' %}current{% endif %}">
						<a href="/hymns/063">63&emsp;Wohl dem, der den Herren scheuet</a>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/064' %}current{% endif %}">
						<a href="/hymns/064">64&emsp;Herr, aller Weisheit Quell und Grund</a>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/065' %}current{% endif %}">
						<a href="/hymns/065">65&emsp;Jesu, allerliebster Bruder</a>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/066' %}current{% endif %}">
						<a href="/hymns/066">66&emsp;Herr, du erforschest meinen Sinn</a>
					</li>

					<h5>cross and comfort</h5>

					<li class="nav-item top-level {% if page.url contains '/hymns/067' %}current{% endif %}">
						<a href="/hymns/067">67&emsp;Ist Ephraim nicht meine Kron</a>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/068' %}current{% endif %}">
						<a href="/hymns/068">68&emsp;Was soll ich doch, o Ephraim</a>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/069' %}current{% endif %}">
						<a href="/hymns/069">69&emsp;Kommt, ihr traurigen Gemüter</a>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/070' %}current{% endif %}">
						<a href="/hymns/070">70&emsp;Was trotzest du, stolzer Tyrann</a>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/071' %}current{% endif %}">
						<a href="/hymns/071">71&emsp;Herr, der du vormals hast dein Land</a>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/072' %}current{% endif %}">
						<a href="/hymns/072">72&emsp;Nicht so traurig, nicht so sehr</a>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/073' %}current{% endif %}">
						<a href="/hymns/073">73&emsp;Ich hab in Gottes Herz und Sinn</a>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/074' %}current{% endif %}">
						<a href="/hymns/074">74&emsp;Ich hab oft bei mir selbst gedacht</a>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/075' %}current{% endif %}">
						<a href="/hymns/075">75&emsp;Du bist ein Mensch, das weißt du wohl</a>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/076' %}current{% endif %}">
						<a href="/hymns/076">76&emsp;Du liebe Unschuld du</a>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/077' %}current{% endif %}">
						<a href="/hymns/077">77&emsp;Ich habs verdient, was will ich doch</a>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/078' %}current{% endif %}">
						<a href="/hymns/078">78&emsp;Ach treuer Gott, Barmherzigs Herz</a>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/079' %}current{% endif %}">
						<a href="/hymns/079">79&emsp;Barmherziger Vater, höchster Gott</a>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/080' %}current{% endif %}">
						<a href="/hymns/080">80&emsp;Was Gott gefällt, mein frommes Kind</a>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/081' %}current{% endif %}">
						<a href="/hymns/081">81&emsp;Schwing dich auf zu deinem Gott</a>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/082' %}current{% endif %}">
						<a href="/hymns/082">82&emsp;Ist Gott für mich, so trete</a>
						<ul>
								<li class="nav-item {% if page.url contains '/hymns/082' %}current{% endif %}">
								<a href="/hymns/082/hewitt">Hewitt Commentary</a>
								</li>
						</ul>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/083' %}current{% endif %}">
						<a href="/hymns/083">83&emsp;Warum sollt' ich mich denn grämen</a>
						<ul>
								<li class="nav-item {% if page.url contains '/hymns/083' %}current{% endif %}">
								<a href="/hymns/083/hewitt">Hewitt Commentary</a>
								</li>
						</ul>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/084' %}current{% endif %}">
						<a href="/hymns/084">84&emsp;Befiehl du deine Wege</a>
						<ul>
								<li class="nav-item {% if page.url contains '/hymns/084' %}current{% endif %}">
								<a href="/hymns/084/hewitt">Hewitt Commentary</a>
								</li>
						</ul>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/085' %}current{% endif %}">
						<a href="/hymns/085">85&emsp;Noch dennoch muszt du drum nicht ganz</a>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/086' %}current{% endif %}">
						<a href="/hymns/086">86&emsp;Wie lang, o Herr, wie lange soll</a>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/087' %}current{% endif %}">
						<a href="/hymns/087">87&emsp;Gott ist mein Licht, der Herr mein Heil</a>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/088' %}current{% endif %}">
						<a href="/hymns/088">88&emsp;Wie der Hirsch im großem Dürsten</a>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/089' %}current{% endif %}">
						<a href="/hymns/089">89&emsp;Sei wohlgemut, o Christenseel</a>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/090' %}current{% endif %}">
						<a href="/hymns/090">90&emsp;Wer unterm Schirm des Höchsten sitzt</a>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/091' %}current{% endif %}">
						<a href="/hymns/091">91&emsp;Geduld ist euch vonnöten</a>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/092' %}current{% endif %}">
						<a href="/hymns/092">92&emsp;Ach Herr, wie lange willst du mein</a>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/093' %}current{% endif %}">
						<a href="/hymns/093">93&emsp;Herr, was hast du im Sinn</a>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/094' %}current{% endif %}">
						<a href="/hymns/094">94&emsp;Gib dich zufrieden und sei stille</a>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/095' %}current{% endif %}">
						<a href="/hymns/095">95&emsp;Meine Seel ist in der Stille</a>
					</li>

					<h5>praise and thanks</h5>

					<li class="nav-item top-level {% if page.url contains '/hymns/096' %}current{% endif %}">
						<a href="/hymns/096">96&emsp;Nun danket all' und bringet Ehr'</a>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/097' %}current{% endif %}">
						<a href="/hymns/097">97&emsp;Wie ist so groß und schwer die Last</a>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/098' %}current{% endif %}">
						<a href="/hymns/098">98&emsp;Gottlob, nun ist erschollen</a>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/099' %}current{% endif %}">
						<a href="/hymns/099">99&emsp;Sollt' ich meinem Gott nicht singen</a>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/100' %}current{% endif %}">
						<a href="/hymns/100">100&emsp;Wer wohlauf ist und gesund</a>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/101' %}current{% endif %}">
						<a href="/hymns/101">101&emsp;Ich singe dir mit Herz und Mund</a>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/102' %}current{% endif %}">
						<a href="/hymns/102">102&emsp;Auf den Nebel folgt die Sonn</a>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/103' %}current{% endif %}">
						<a href="/hymns/103">103&emsp;Der Herr, der aller Enden</a>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/104' %}current{% endif %}">
						<a href="/hymns/104">104&emsp;Ich preise dich und singe</a>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/105' %}current{% endif %}">
						<a href="/hymns/105">105&emsp;Ich will erhöhen immerfort</a>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/106' %}current{% endif %}">
						<a href="/hymns/106">106&emsp;Ich will mit Danken kommen</a>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/107' %}current{% endif %}">
						<a href="/hymns/107">107&emsp;Das ist mir lieb, daß Gott mein Hort</a>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/108' %}current{% endif %}">
						<a href="/hymns/108">108&emsp;Du meine Seele, singe</a>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/109' %}current{% endif %}">
						<a href="/hymns/109">109&emsp;Herr, dir trau ich all mein Tage</a>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/110' %}current{% endif %}">
						<a href="/hymns/110">110&emsp;Wie ist es möglich, höchstes Licht</a>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/111' %}current{% endif %}">
						<a href="/hymns/111">111&emsp;Merkt auf, merkt, Himmel, Erde</a>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/112' %}current{% endif %}">
						<a href="/hymns/112">112&emsp;Ich, der ich oft in tiefes Leid</a>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/113' %}current{% endif %}">
						<a href="/hymns/113">113&emsp;Ich danke dir mit Freuden</a>
					</li>

					<h5>death and burial</h5>

					<li class="nav-item top-level {% if page.url contains '/hymns/114' %}current{% endif %}">
						<a href="/hymns/114">114&emsp;Mein Gott, ich habe mir</a>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/115' %}current{% endif %}">
						<a href="/hymns/115">115&emsp;O Tod, o Tod, du greulichs Bild</a>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/116' %}current{% endif %}">
						<a href="/hymns/116">116&emsp;Mein herzer Vater, weint ihr noch</a>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/117' %}current{% endif %}">
						<a href="/hymns/117">117&emsp;Du bist zwar mein und bleibest mein</a>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/118' %}current{% endif %}">
						<a href="/hymns/118">118&emsp;Nun, du lebest, unsre Krone</a>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/119' %}current{% endif %}">
						<a href="/hymns/119">119&emsp;Erhebe dich, betrübtes Herz</a>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/120' %}current{% endif %}">
						<a href="/hymns/120">120&emsp;Die Zeit ist nunmehr nah</a>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/121' %}current{% endif %}">
						<a href="/hymns/121">121&emsp;Leid ist mirs in meinem Herzen</a>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/122' %}current{% endif %}">
						<a href="/hymns/122">122&emsp;Herr Lindholtz legt sich hin</a>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/123' %}current{% endif %}">
						<a href="/hymns/123">123&emsp;Liebes Kind, wenn ich bei mir</a>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/124' %}current{% endif %}">
						<a href="/hymns/124">124&emsp;O, wie so ein großes Gut</a>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/125' %}current{% endif %}">
						<a href="/hymns/125">125&emsp;Nun sei getrost und unbetrübt</a>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/126' %}current{% endif %}">
						<a href="/hymns/126">126&emsp;Hörst du hier Ewigkeit</a>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/127' %}current{% endif %}">
						<a href="/hymns/127">127&emsp;Herr Gott, du bist ja für und für</a>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/128' %}current{% endif %}">
						<a href="/hymns/128">128&emsp;Ich bin ein Gast auf Erden</a>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/129' %}current{% endif %}">
						<a href="/hymns/129">129&emsp;Was traurest du, mein Angesicht</a>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/130' %}current{% endif %}">
						<a href="/hymns/130">130&emsp;Ich weiß, daß mein Erlöser lebt</a>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/131' %}current{% endif %}">
						<a href="/hymns/131">131&emsp;Weint, und weint gleichwohl nicht zu sehr</a>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/132' %}current{% endif %}">
						<a href="/hymns/132">132&emsp;So geht der alte liebe Herr nun auch dahin</a>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/133' %}current{% endif %}">
						<a href="/hymns/133">133&emsp;Wer selig stirbt, sterbt nicht</a>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/134' %}current{% endif %}">
						<a href="/hymns/134">134&emsp;Johannes sahe durch Gesicht</a>
					</li>

					<h5>other</h5>

					<li class="nav-item top-level {% if page.url contains '/hymns/135' %}current{% endif %}">
						<a href="/hymns/135">135&emsp;Also treten wir nun an</a>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/136' %}current{% endif %}">
						<a href="/hymns/136">136&emsp;Wo findet sich doch das</a>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/137' %}current{% endif %}">
						<a href="/hymns/137">137&emsp;David sang in seiner Sprachen</a>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/138' %}current{% endif %}">
						<a href="/hymns/138">138&emsp;Weigels Schwarm und schnöde Rotte</a>
					</li>

					<li class="nav-item top-level {% if page.url contains '/hymns/139' %}current{% endif %}">
						<a href="/hymns/139">139&emsp;O wie wohl ist hier zu lesen</a>
					</li>

			</ul>
		</nav>