		<nav class="docs-nav">	
			<ul>
					
				<li class="nav-item top-level {% if page.url contains '/indexes/firstlines' %}current{% endif %}">
				<a href="/indexes/firstlines">First Lines and Titles</a>
				</li>
				<li class="nav-item top-level {% if page.url contains '/indexes/tunes' %}current{% endif %}">
				<a href="/indexes/tunes">Hymn Tunes</a>
				</li>
				<li class="nav-item top-level {% if page.url contains '/indexes/meters' %}current{% endif %}">
				<a href="/indexes/meters">Hymn Meters</a>
				</li>
				<li class="nav-item top-level {% if page.url contains '/indexes/authors' %}current{% endif %}">
				<a href="/indexes/authors">Authors</a>
				</li>
				<li class="nav-item top-level {% if page.url contains '/indexes/sources' %}current{% endif %}">
				<a href="/indexes/sources">Sources</a>
				</li>

			</ul>
		</nav>